
<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="sidebar-fixed">

	<div class="container-scroller">
		<!-- partial:../../partials/_sidebar.html -->
		<nav th:replace="layout/encabezado :: navbar1"></nav>
		<!-- partial -->
		<div class="page-body-wrapper">
			<!-- partial:../../partials/_navbar.html -->
			<nav th:replace="layout/encabezado :: navbar"></nav>
			<!-- partial -->

			<div class="main-panel">

				<div class="content-wrapper">

					
					<div class="alert alert-fill-success" role="alert" th:if="${success != null}">
					 <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <i class="mdi mdi-alert-circle"></i> <a th:text="${textoMensaje}"></a> </div>
                      
					<div class="alert alert-fill-primary" role="alert" th:if="${info != null}">
					 <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <i class="mdi mdi-alert-circle"></i> <a th:text="${textoMensaje}"></a> </div>
                      
					<div class="alert alert-fill-danger" role="alert" th:if="${error != null}">
					 <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <i class="mdi mdi-alert-circle"></i> <a th:text="${textoMensaje}"></a> </div>

					<!-- Initial Card table products -->
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-row justify-content-between">
								<div>
									<h4 class="card-title">Productos</h4>
								</div>
								<div class="align-self-center">
									<button class="btn btn-outline-primary btn-icon-append"
										data-toggle="modal" data-target="#exampleModal-4"
										data-whatever="@getbootstrap">
										<span class="fa fa-plus
										"> Agregar Producto</span>
									</button>
									<button class="btn btn-outline-primary"
										onclick="showSuccessToast()">Click here!</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">

									<table class="table">
										<thead>
											<tr>
												<th>Id</th>
												<th>Nombre</th>
												<!-- 												<th>Precio</th> -->
												<!-- 												<th>Sucursal</th> -->

												<th>Editar</th>
												<th>Agregar Stok</th>
												<th>Eliminar</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="producto: ${productos}">
												<td><a class="btn btn-sm btn-outline-primary"
													th:href="@{'/stock/verStock/' + ${producto.prodId}}"
													th:text="${producto.prodId}" id="id_producto_table"></a></td>
												<td th:text="${producto.prodNombre}"
													id="nombre_producto_table"></td>
												<!-- 												<td th:text="${producto.prodPrecio}" id="precio_producto_table"></td> -->
												<!-- 												<td th:text="${producto.tbSucursal.sucNombre}"></td> -->
												<!-- 								<td th:text="${producto.tbProveedor.provNombre}"></td> -->
												<td class=""><button
														class="btn btn-sm btn-outline-primary">
														<span class="fa fa-pencil-square-o
										"></span>
													</button></td>
												<td class=""><button
														class="btn btn-sm btn-outline-primary btn_agregar_stok"
														data-toggle="modal" data-target="#exampleModal-Stok"
														id="btn_agregar_stok" name="btn_agregar_stok"
														data-whatever="@getbootstrap">
														<span class="fa fa-plus-circle 
										"></span>
													</button></td>

												<td class=""><button
														class="btn btn-sm btn-outline-danger"
														onclick="return confirm('Seguro que quieres eliminar?');">
														<span class="fa fa-trash-o"></span>
													</button></td>
											</tr>

										</tbody>
									</table>
									<br />
									<nav th:replace="paginator-nav :: paginator"></nav>
								</div>
							</div>
						</div>
					</div>
					<!-- Final Card table products -->



				</div>

				<!-- content-wrapper ends -->
				<!-- partial:partials/../../partials/_footer.html -->
				<footer th:replace="layout/encabezado :: footer"></footer>
				<!-- partial -->

			</div>
		</div>
		<!-- main-panel ends -->
	</div>


	<!-- Start modal -->


	<!-- MODAL NUEVO PRODUCTO -->
	<div class="modal fade" id="exampleModal-4" tabindex="-1" role="dialog"
		aria-labelledby="ModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalLabel">Nuevo Producto</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/producto/agregar}" th:object="${producto}"
						method="post">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Nombre
								producto:</label> <input type="text" class="form-control"
								autocomplete="off" th:field="*{prodNombre}" id="recipient-name">
						</div>
						<input type="submit" class="btn btn-success" value="Guardar" />
					</form>
				</div>
				<div class="modal-footer">
					<!-- 					<button type="submit" class="btn btn-success">Guardar</button> -->
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>

	</div>

	<!-- MODAL AGREGAR STOK PRODUCTO -->
	<div class="modal fade" id="exampleModal-Stok" tabindex="-1"
		role="dialog" aria-labelledby="ModalLabel" style="display: none;"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalLabel">Ingreso de Stok
						Producto</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/stock/agregar}" th:object="${stock}"
						method="post">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Id
								producto:</label> <input type="text" class="form-control"
								autocomplete="off" th:field="*{tbProducto1.prodId}"
								id="producto_id_stok_form">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Nombre
								producto:</label> <input type="text" class="form-control"
								autocomplete="off" id="producto_nombre_stok_form">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Precio
								Unitario, Libra, Manojo:</label> <input type="number" step="0.01"
								value="0" class="form-control" autocomplete="off"
								th:field="*{stkPrecio}" id="producto_precio_stok_form"
								required="required">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Cantidad:</label>
							<input type="number" step="1" placeholder="Opcional"
								class="form-control" autocomplete="off"
								th:field="*{stkCantidad}" id="producto_precio_stok_form">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Libras:</label>
							<input type="number" step="1" placeholder="Opcional"
								class="form-control" autocomplete="off"
								th:field="*{stkPesoKilo}" id="producto_precio_stok_form">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Kilos:</label>
							<input type="number" step="1" placeholder="Opcional"
								class="form-control" autocomplete="off"
								th:field="*{stkPesoLibra}" id="producto_precio_stok_form">
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Sucursal:</label> <select
								autocomplete="off" class="form-control"
								th:field="*{tbSucursal1.sucId}" id="exampleFormControlSelect1">
								<option th:each="sucursal: ${sucursales}"
									th:value="${sucursal.sucId}" th:text="${sucursal.sucNombre}">1</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect2">Proveedor:</label> <select
								autocomplete="off" class="form-control"
								th:field="*{tbProveedor1.provId}" id="exampleFormControlSelect2">
								<option th:each="proveedor: ${proveedores}"
									th:value="${proveedor.provId}"
									th:text="${proveedor.provNombre}">1</option>
							</select>
						</div>
						<input type="submit" class="btn btn-success mt-2" value="Guardar" />
					</form>
				</div>
				<div class="modal-footer">
					<!-- 					<button type="submit" class="btn btn-success">Guardar</button> -->
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>

	</div>


<!-- 	<!-- End modals --> -->
<!-- 	<div class="swal-overlay swal-overlay--show-modal" tabindex="-1" -->
<!-- 		th:if="${success != null}"> -->
<!-- 		<div class="swal-modal" role="dialog" aria-modal="true"> -->
<!-- 			<div class="swal-icon swal-icon--success"> -->
<!-- 				<span -->
<!-- 					class="swal-icon--success__line swal-icon--success__line--long"></span> -->
<!-- 				<span class="swal-icon--success__line swal-icon--success__line--tip"></span> -->

<!-- 				<div class="swal-icon--success__ring"></div> -->
<!-- 				<div class="swal-icon--success__hide-corners"></div> -->
<!-- 			</div> -->
<!-- 			<div class="swal-title" style="">Correcto!</div> -->
<!-- 			<div class="swal-text" style="" th:text="${textoMensaje}">Producto -->
<!-- 				agregad con Éxito...</div> -->
<!-- 			<div class="swal-footer"> -->
<!-- 				<div class="swal-button-container"> -->

<!-- 					<button class="swal-button swal-button--confirm btn btn-primary" -->
<!-- 						onclick="cerrarNotificacion()">Continuar</button> -->

<!-- 					<div class="swal-button__loader"> -->
<!-- 						<div></div> -->
<!-- 						<div></div> -->
<!-- 						<div></div> -->
<!-- 					</div> -->

<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->


<!-- 	<div class="swal-overlay swal-overlay--show-modal" tabindex="-1" -->
<!-- 		th:if="${error != null}"> -->
<!-- 		<div class="swal-modal" role="dialog" aria-modal="true"> -->
<!-- 			<div class="swal-icon swal-icon--warning"> -->
<!-- 				<span class="swal-icon--warning__body"> <span -->
<!-- 					class="swal-icon--warning__dot"></span> -->
<!-- 				</span> -->
<!-- 			</div> -->
<!-- 			<div class="swal-title" style="" th:text="${error}"></div> -->
<!-- 			<div class="swal-text" style="" th:text="${textoMensaje}"></div> -->
<!-- 			<div class="swal-footer"> -->
<!-- 				<div class="swal-button-container"> -->

<!-- 					<button class="swal-button swal-button--cancel btn btn-danger" -->
<!-- 						onclick="cerrarNotificacion()">Cerrar</button> -->

<!-- 					<div class="swal-button__loader"> -->
<!-- 						<div></div> -->
<!-- 						<div></div> -->
<!-- 						<div></div> -->
<!-- 					</div> -->

<!-- 				</div> -->

<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->



</body>
</html>














